* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: normal;
  margin: 0.5rem 0;
}

input {
  padding: 0.25rem;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #000;
}

#conect {
  background-color: #231f20;
}

#conect p {
  text-align: end;
  font-size: 14px;
}

#conect p,
#conect a {
  color: #fff;
  padding: 0.5rem 0;
  text-decoration: revert;
}

#logo {
  padding: 3vh 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo-images {
  display: flex;
  justify-content: center;
}

#logo div img {
  width: 100%;
}

.menu-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}

.menu-modal.active {
  opacity: 1;
  visibility: visible;
}

.content-menu-modal {
  background-color: #f0f2f5;
  padding: 2.4rem;
  max-width: 500px;
  width: 90%;
  border-radius: 0.25rem;
  position: relative;
  z-index: 1;
  margin-top: 10%;
}

.content-menu-modal div {
  display: flex;
  justify-content: end;
}

.content-menu-modal ul li {
  margin: 0.5rem 0;
}

.red-color {
  color: #cd0d1f;
}

#search {
  display: flex;
  min-height: 5vh;
  width: 100%;
  justify-content: end;
}

#search button{
  background-color: #cd0c1f;
  color: #fff;
  font-weight: bold;
  border: none;
  width: 6vw;
  cursor: pointer;
  min-width: 115px;
}

#menu {
  padding: 1rem 0;
  background-color: #cd0c1f;
  margin-bottom: 1.5rem;
}

#menu div {
  display: flex;
  font-weight: bold;
}

#menu a {
  color: #fff;
}

#content {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

#menu-box {
  background-color: #e2dfda;
  height: 100%;
}

#menu-box ul {
  padding: 1rem 1.5rem;
}

#menu-box ul li {
  margin: 0.8rem;
  letter-spacing: 0.5px;
}

#gray-box {
  background-color: #adacad;
  width: 100%;
  height: 24vh;
  margin-bottom: 1rem;
}

#text-content {
  display: block;
}

#navigation {
  margin-bottom: 1.5rem;
  display: flex;
  gap: 0.25rem;
}

#current-page {
  color: #cd0c1f;
}

#filter-box {
  border: #adacad 1px solid;
  padding: 0.5rem;
}

#filter-box h3 {
  font-size: 24px;
  color: #cd0c1f;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1rem;
}

#filter-box h4 {
  color: #80bdb8;
}

#filter-box ul {
  padding: 1rem 1.5rem;
  color: #8a8b8b;
}

#colors {
  display: flex;
  gap: 0.25rem;
  padding: 1rem 0;
}

#red-box {
  background-color: #cc0d1f;
  width: 3rem;
  height: 1.25rem;
}

#orange-box {
  background-color: #f36224;
  width: 3rem;
  height: 1.25rem;
}

#green-box {
  background-color: #28a2ab;
  width: 3rem;
  height: 1.25rem;
}

#itens {
  width: 100%;
}

#title {
  font-size: 1.875rem;
  margin: 0 0 0.25rem 0;
  color: #cd0c1f;
}

#order-by {
  width: 100%;
  border-top: #adacad 1px solid;
  border-bottom: #adacad 1px solid;
  display: flex;
  align-items: center;
  height: 2rem;
  justify-content: space-between;
}

#order-by label {
  font-size: 0.75rem;
  color: #adacad;
}

#order-by select {
  width: 10vw;
}
#view-select {
  color: #80bdb8;
}

#itens-list {
  display: flex;
  gap: 1.5rem;
  margin-top: 1.5rem;
  flex-wrap: wrap;
}

#itens-list div{
  width: 192px;
  text-align: center;
}

#product-name {
  color: #adacad;
  height: 44px;
}

#itens-list img{
  width: 100%;
  height: 196px;
  object-fit: scale-down;
  border: #adacad 1px solid;
  margin-bottom: 0.5rem;
}

#prices {
  width: 100%;
  display: flex;
  text-align: center;
  margin-bottom: 0.25rem;
  justify-content: center;
  gap: 0.5rem;
}

#prices p {
  color: #adacad;
  text-decoration: line-through;
  align-self: center;
}

#prices p:last-child {
  color: #cd0c1f;
  font-weight: bold;
  font-size: 1.25rem;
  text-decoration: none;
}

#buy {
  width: 100%;
  border: none;
  background-color: #80bdb8;
  border-radius: 0.25rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.25rem;
  cursor: pointer;
}

#page-list {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  gap: 1rem
}

.next-prev {
  font-weight: bold;
  color:#80bdb8;
}

#selected {
  color: #cd0c1f;
}

footer {  
  height: 18vh;
  background-color: #cd0c1f;
  margin-bottom: 1.5rem !important;
}

@media (max-width: 600px) {
  .global-width {
    width: 94%;
    margin: 0 auto;
  }

  #conect p {
    text-align: center;
  }

  #logo {
    display: block;
  }

  #logo-images {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  #logo div img {
    width: 52%;
  }

  .logo-icons {
    cursor: pointer;
    visibility: visible;
    font-size: 44px !important;
  }
  
  #search {
    margin-top: 1rem;
    visibility: hidden;
    display: none;
  }
  
  #search.active {
    visibility: visible;
    display: flex;
  }

  #search input {
    width: 100%;
  }
  
  #menu {
    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0;
  }

  #menu div a {
    font-size: 0px;
  }

  #content {
    display: block;
  }

  #navigate-box {
    visibility: hidden;
    display: none;
  }

  #gray-box {
    height: 10vh;
  }

  #order-by {
    border: 0;
    justify-content: flex-start;
  }

  #order-by select {
    width: 60vw;
  }

  #icons {
    visibility: hidden;
    display: none;
    justify-content: start;
  }

  #title {
    margin-top: 2rem
  }

  #itens-list div {
    width: 138px;
  }

  #itens-list img {
    height: 160px;
  }
  
  #prices {
    flex-direction: column;
    justify-content: end;
    height: 42px;
    margin-top: 10px;
  }
}

@media (min-width: 601px) {
  .global-width {
    width: 94%;
    margin: 0 auto;
  }

  .logo-icons {
    visibility: hidden;
  }

  #navigate-box {
    visibility: visible;
  }

  #menu {
    visibility: visible;
  }

  #menu div {
    gap: 2rem;
  }

  #menu-box {
    width: 20vw;
  }

  #search {
    visibility: visible;
  }

  input {
    width: 90%;
  }
}

@media (min-width: 650px) {
  #menu div {
    gap: 4rem;
  }
}

@media (min-width: 758px) {
  .global-width {
    width: 94%;
    margin: 0 auto;
  }

  #menu div {
    gap: 6rem;
  }

  input {
    width: 90%;
  }
}

@media (max-width: 840px) {
  html {
    font-size: 90%;
  }

  #search {
    margin-right: 0.5rem;
  }
}

@media (min-width: 1024px) {
  .global-width {
    width: 94%;
    margin: 0 auto;
  }

  #menu-box {
    width: 18vw;
  }

  input {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .global-width {
    min-width: 1152px;
    width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 1441px) {
  .global-width {
    min-width: 1152px;
    width: 60%;
    margin: 0 auto;
  }

  #menu-box {
    width: 15vw;
  }

  #filter-box {
    width: 15vw;
  }
}
